.hamburger {
  display: none;
  justify-content: flex-end;
  align-items: center;

  &-menu {


    display: block;
    width: 30px;
    z-index: 999;
    transition: .5s all ease;
    &::before {
      display: block;
      content: '';
      width: 100%;
      background: $black;
      height: 3px;
      transition: .25s all ease;
      transform: scaleY(1.00001);
    }
    &--center {
      width: 100%;
      background: $black;
      height: 3px;
      margin: 0.5rem 0;
      transition: .25s all ease;
    }
    &::after {
      display: block;
      content: '';
      width: 100%;
      background: $black;
      height: 3px;
      transition: .25s all ease;
      transform: scaleY(1.0);
    }
    &--show {
      &::before {
        transform: rotate(47deg);
        transform-origin: 0 50%;
      }
      & .hamburger-menu--center {
        width: 0;
      }
      &::after {
        transform: rotate(-47deg);
        transform-origin: 0 50%;
      }
    }
  }
}

@media (max-width: 767px) {
  .hamburger {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}