.header {
  height: 70px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
  position: relative;
  &__left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
    &__logo {
      font-weight: 900;
      font-style: italic;
    }
    &__menu {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 3rem;
      list-style: none;
      padding: 0;
      margin: 0;
      & a {
        text-transform: lowercase;
        font-size: 16px !important;
      }
    }
  }
  &__right {
    display: flex;
    gap: 2rem;
    align-items: center;
    & svg {
      height: 20px;
    }
  }
  & a {
    font-size: 18px ;
  }
}

@media (max-width: 767px) {
  .header {
    height: 60px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
    &__left {
      gap: 0rem;
      &__menu {
        display: none;
      }
    }
    &__right {
      & svg {
      }
    }
    & a {
      font-size: 16px ;
    }
  }
}